<html>
    <head>
        <title>Registrate al Sistema</title>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <script src="/static/js/libs/bootstrap.js" ></script>
    </head>
    <body>
        <form action="/Teacher/create", method="POST">
            <table class="table table-hover">
                <tr>
                  <td colspan="2">Ingresa tus datos:</td>
                </tr>
                <tr>
                  <td width="15%">Nombre</td>
                  <td width="50%">
                    <input type="text" name="name" placeholder="Nombre" style="width : 80%"/>
                  </td>
                </tr>
                <tr>
                  <td width="15%">Contraseña</td>
                  <td width="50%">
                    <input type="password" name="password" placeholder="Password" style="width : 80%"/>
                  </td>
                </tr>
                <tr>
                  <td width="15%">Edad</td>
                  <td width="50'%">
                    <input type="text" name="edad" placeholder="Edad" style="width : 80%"/>
                  </td>
                </tr>
                <tr>
                  <td width="15%">Carrera</td>
                  <td width="50%">
                    <input type="text" name="carrera" placeholder="Carrera" style="width : 80%"/>
                  </td>
                </tr>
                <tr>
                  <td width="15%">Sexo</td>
                  <td width="50%">
                    <select  name="sexo" placeholder="Sexo" style="width : 80%">
                        <option disabled selected>Selecciona tu sexo</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                    </select>
                  </td>
                </tr>
                <tr>
                    <td width="15%">Curso dictado</td>
                    <td width="50%">
                        <select  name="curso_dictado" placeholder="Elige un curso" style="width : 80%">
                            <option disabled selected>Selecciona un curso</option>
                            <option value=1>Matemática</option>
                            <option value=2>Física</option>
                            <option value=3>DBP</option>
                            <option value=4>Programación 1</option>
                            <option value=5>Programación 2</option>
                            <option value=6>Estadística</option>
                            <option value=7>Ética y Tecnología</option>
                            <option value=8>Estructuras Discretas 1</option>
                            <option value=9>Estructuras Discretas 2</option>
                            <option value=10>Proyecto Interdisciplinario</option>
                          </select>
                    </td>
                </tr>
              </table>
              <br><br>
              <input type="submit" id="submit" value="Registrate como Profesor!"/><br>
        </form>

    </body>
</html>